:root {
  /* Primary color */
  --tomato: hsl(4, 100%, 67%);
  --light-tomato: hsl(2, 52%, 91%);

  /* Neutral color */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font Sizes */
  --fs-16: 16px;

  /* Fonts */
  --ff-roboto: "Roboto", sans-serif;

  /* Font Weight */
  --fw-400: 400;
  --fw-700: 700;
}

body {
  font-family: var(--ff-roboto);
  background-color: var(--dark-slate-grey);
}

* {
  list-style-type: none;
  box-sizing: border-box !important;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* General styling for button */

button.btn {
  background-color: var(--dark-slate-grey);
  color: #fff;
  font-weight: 700;
  padding: 14px;
}

button.btn:hover {
  background-color: var(--tomato);
  color: #fff;
  box-shadow: 3px 1px 15px var(--grey);
}
